* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  transition: var(--color-transition);
}

[data-theme="dark"] {
  --bg: #222;
  --bg-level-1: #444;
  --fg: #eee;
  --input-bg: rgb(0 0 0 / 10%);
  --button-bg: #666;
  --button-fg: #eee;
}

[data-theme="light"] {
  --bg: #f2f2f2;
  --bg-level-1: #fff;
  --fg: #333;
  --input-bg: rgb(0 0 0 / 5%);
  --button-bg: #ddd;
  --button-fg: var(--fg);
  --color-transition: background-color 300ms, color 300ms;
}
